body{
    background: rgb(244, 196, 248);
}
h1,p,footer{
    text-align: center;
}
footer a {
    margin: 0 10px;
    color: rgb(89, 185, 16);
}
.croissant-foto{
    width: 700px;
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}
